<!-- header -->
<%- include("partials/header.ejs") %>

<!-- body -->
<nav class="navbar">
  <a href="/work">Work List</a>
  <a href="/">Personal List</a>
</nav>
<div class="container-body">
  <div class="list-container">
    <ul>

        <% if(locals.todos){ %>
            <% for(let i = 0; i < todos.length; i++) { %>
                <li class="item">
                    <input type="checkbox" name="cb1" id="cb1" class="cb" /><%= todos[i] %>
                </li>
            <% } %>
        <% } %>
        <% if (toPersonal) { %>
            <form action="/add" method="post">
        <% } else { %>
            <form action="/work" method="post">
        <% } %>
                <input type="text" name="newTodo" id="new-todo" />
                <button type="submit" class="add-button">+</button>
            </form>
    </ul>
  </div>
</div>

<!-- footer -->
<%- include("partials/footer.ejs") %>